@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body, html, * {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    
}